pipeline/pl_ingest_Eikon.json
{
	"name": "pl_ingest_Eikon",
	"properties": {
		"activities": [
			{
				"name": "check if the file exists",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_eikon1_xlsx",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:30",
					"sleep": 10
				}
			},
			{
				"name": "Get file metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "check if the file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_eikon1_xlsx",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get file metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get file metadata').output.columnCount, 8)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "www.sapo.pt",
								"method": "POST",
								"body": "bdfr"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Eikon Data_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Dates",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Dates",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "OINOK3MD=",
												"type": "Decimal",
												"physicalType": "String"
											},
											"sink": {
												"name": "OINOK3MD=",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "NOKAB6O5Y=",
												"type": "Decimal",
												"physicalType": "String"
											},
											"sink": {
												"name": "NOKAB6O5Y=",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "NOKAB6O10Y=",
												"type": "Decimal",
												"physicalType": "String"
											},
											"sink": {
												"name": "NOKAB6O10Y=",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "NOKAB6O5YF1Y=",
												"type": "Decimal",
												"physicalType": "String"
											},
											"sink": {
												"name": "NOKAB6O5YF1Y=",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "NOKAB6O5YF2Y=",
												"type": "Decimal",
												"physicalType": "String"
											},
											"sink": {
												"name": "NOKAB6O5YF2Y=",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "NOKAB6O5YF3Y=",
												"type": "Decimal",
												"physicalType": "String"
											},
											"sink": {
												"name": "NOKAB6O5YF3Y=",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "NOKAB6O5YF5Y=",
												"type": "Decimal",
												"physicalType": "String"
											},
											"sink": {
												"name": "NOKAB6O5YF5Y=",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_eikon1_xlsx",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_SWAPS",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}